html {
  height: 100%;
  width: 100%;
}

#jukeboxTop {
  margin: 0 auto;
  width: 30rem;
  height: 15rem;
  background-color: #ffff80;
  border: solid hotpink 20px;
  border-radius: 30rem 30rem 0 0;
  border-bottom: none;
}
#jukeboxMiddle {
  position: absolute;
  right:40%;
  top:14%;
}
#disk {
background: url("https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvam9iNjgxLTAwNDUtcC1sMWxnZ2hpbi5wbmc.png?s=uuBeZoBiMlFbeSbA_BZGXu5d9BiGo_iHGYmluGLkK6I");
background-size: contain;
width: 300px;
height: 300px;
border-radius: 50%;
background-color: #4e4e4e;
margin: 0 auto;
animation-name: spin;
animation-duration: 5000ms;
animation-iteration-count: infinite;
animation-timing-function: linear; 
}
@keyframes spin {
  from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#jukeboxBottom {
  margin: 0 auto;
  width: 30rem;
  height: 25rem;
  background-color: aliceblue;
  border: solid cadetblue 20px;
  border-top: none;
}
.songInfo{
    text-align:center;
    font-size:100px;
    vertical-align: bottom;
}